/* Materialize */
@import "materialize-css/dist/css/materialize.css";
/* Fontawesome */
@import "@fortawesome/fontawesome-free/css/all.css";

/* Rodapé fixo (Materialize) */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main { flex: 1 0 auto; }
.card { text-align: center }
.card a { color: #000 }
.page-footer { background-color: #000 }

/* Link */
a:hover { color: purple }

.clearLeft { clear: left }

img.foto { 
    margin: 10px
}